@model ProdutoListagemViewModel
@{
    var pesquisa = Context.Request.Query["pesquisa"];
    var ordenacao = Context.Request.Query["ordenacao"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}

@if (Model.lista.Count > 0)
{
    <div class="container" id="ordenacao-main">
        <div class="row">
            <div class="offset-md-10 col-md-2">
                <select id="ordenacao" class="form-control" asp-for="@ordenacao" asp-items="Model.ordenacao"></select>
                <hr />
            </div>

        </div>
        <div class="row">
            @foreach (var produto in Model.lista)
            {
                <a asp-controller="Produto" asp-action="Visualizar" asp-route-id="@produto.Id">
                    <div class="col-md-4">
                        <figure class="card card-product">
                            <div class="img-wrap">
                                @if (produto.Imagens != null && produto.Imagens.Count() > 0)
                                {

                                    <img src="@produto.Imagens.ElementAt(0).Caminho" />

                                }
                                else
                                {
                                    <img src="/img/icon-produto.png" />
                                }
                            </div>
                            <figcaption class="info-wrap">
                                <h4 class="title">@produto.Nome</h4>
                            </figcaption>
                            <div class="bottom-wrap">
                                <a asp-controller="CarrinhoCompra" asp-action="AdicionarItem" asp-route-id="@produto.Id"
                                class="btn btn-primary float-right"> <i class="fa fa-shopping-cart"></i> <span class="text"> Carrinho</span> </a>
                                <div class="price-wrap h5">
                                    <span class="price-new">@produto.Valor.ToString("C")</span><!-- <del class="price-old">$1980</del> -->
                                </div>
                            </div>
                        </figure>
                    </div>
                </a>
            }
        </div>
        @Html.PagedListPager((IPagedList)Model.lista, pagina => Url.Action(action, new { pagina = pagina, pesquisa = pesquisa, ordenacao = ordenacao }))
    </div>
}
else
{
    <div class="container">
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-warning" role="alert">
                    <b>Não Foram Encontrados Produtos para essa Categoria!</b>
                </div>
            </div>
        </div>
    </div>
}
